@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



body {
    /* background-color: black; */
    transition: 0.5s;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 30rem;
    /* height: 15rem; */
    padding: 10px;
    border-radius: 10px;
    font-size: 40px;
    background-color: white;
    text-align: center;
}
button{
    font-size: 45px;
    margin-top: 5px;
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}